<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{
        description ||
        'Découvrez le portfolio de Valdes OMBILINGO, développeur web & marketeur digital à Kinshasa (RDC). Explorez ses compétences, son parcours, projets et réalisations.'
      }}"
    />
    <title>{{ title || 'Valdes OMBILINGO | Développeur Web & Marketing Digital' }}</title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    @stack('dumper')
  </head>

  <body class="bg-light-beige">
    @include('partials/header')
    <main>{{{ await $slots.main() }}}</main>
    @include('partials/footer')
  </body>
</html>
