@let(linkText = $props.get('text') || 'Lien')
@let(routeName = $props.get('route'))
@let(routeParams = $props.get('routeParams'))
@let(routeOptions = $props.get('routeOptions'))
@let(customClasses = $props.get('class') || '')
@let(linkHref =
  $props.get('href') || (routeName ? urlFor(routeName, routeParams, routeOptions) : '#'))
@let(isActive = request.url() === linkHref)
@let(baseClasses =
  'rounded-md px-4 py-2 font-body text-xl md:text-[0.938rem] font-semibold md:font-medium transition duration-200 ease-in-out focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-dark-gray lg:hover:text-dark')
@let(stateClasses = isActive ? 'text-dark' : 'text-gray-custom')

<a
  href="{{ linkHref }}"
  up-follow
  class="{{ baseClasses }} {{ stateClasses }} {{ customClasses }}"
  aria-current="{{ isActive ? 'page' : null }}"
  {{
    $props
      .except(['href', 'text', 'route', 'routeParams', 'routeOptions', 'class'])
      .toAttrs()
  }}
>
  {{ linkText }}
</a>
