@projectLayout()
  {{-- RETOUR AUX PROJETS --}}
  @backNav()
  @end
  {{-- PROJET HERO --}}
  @projectHero({
    title: 'King Mayo',
    year: '2026',
    type: 'Chef-d’œuvre',
    role: 'Consultant spécialiste en marketing digital',

    image: '/images/projects/king-mayo/king-mayo-background-project.webp',
    imageAlt: 'Présentation du projet King Mayo',

    participants: [
      {
        name: 'Valdes Ombilingo',
        image: '/images/projects/participants/valdes-ombilingo-avatar.webp',
      },
    ],

    skills: [
      'Étude de marché',
      'Personas',
      'SOSTAC',
      'Branding',
      'Social Media',
      'SEO / SEA',
      'WordPress',
      'Tracking & Analytics',
    ],
  })
  @end
@end
