@layout()
  <section class="home-hero bg-light-beige">
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <h1>home</h1>
    <img
      src="https://f.hellowork.com/blogdumoderateur/2019/06/dev-php-wordpress.jpg"
      alt=""
      class=""
    />
  </section>
@end
